.audiomidi-external-canvas {
    position: relative;
    overflow: scroll;
}

.audiomidi-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.audiomidi-piano-layer {
    position: relative;
    overflow: hidden;
}